@import "_vars";
body {
  font-family: cursive;
}
.bg-sectioon {
  background-color: #f6f9fe;
}
section {
  overflow-x: hidden;
}
.title-before {
  background-color: #e7f1fd;
}
.navbar-nav .nav-link {
  position: relative;
  transition: 0.3s;
  &::before {
    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: $blue;
    transition: inherit;
  }
  &.active,
  &:hover {
    color: $blue;
    &::before {
      width: 100%;
    }
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}
#header {
  height: 75vh;
  background: url(../img/hero-bg.jpg) center center/cover;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparentize($color: #fff, $amount: 0.3);
  }
}
#exampleModal {
  object {
    height: 80vh;
  }
  &.fade .modal-dialog {
    transition: transform 0.5s ease-out;
    transform: scale(0);
  }
  &.show .modal-dialog {
    transform: none;
  }
}
.icon-container {
  width: 70px;
  height: 70px;
}
.progress-bar {
  transition: 0.5s;
}
/*.progress-div[data-scroll="in"] .progress-bar {
  width: 50%;
}*/
.icon {
  width: 60px;
  height: 60px;
}
.icon-box {
  .card-overlay {
    inset: 0;
  }
  & > * {
    position: relative;
    transition: 0.5s;
  }
  &:hover {
    .card-overlay {
      top: 0 !important;
    }
    > * {
      color: #fff !important;
    }
  }
}
/*Slider*/
.slider-div {
  background: url(../img/testimonials-bg.jpg) center center/cover;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparentize($color: #000000, $amount: 0.3s);
  }
  #carouselExampleCaptions {
    height: 350px;
  }
  .carousel-item img {
    width: 150px;
    height: 150px;
  }
}
/*portifolio*/
.filterd-item {
  > a {
    height: 350px;
    &.hidden {
      display: none;
    }
    &.active {
      display: block;
      animation: 0.7s shown ease-in-out;
    }
    img {
      object-fit: contain;
    }
  }
}
/*Contact*/
#contact i {
  width: 50px;
  height: 50px;
  border: 1px dashed;
}
/*footer*/
.footer-list li {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left-color: $blue;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@keyframes shown {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
